<div class="container">
  <div id="clients" class="panel panel-default">
    <div class="panel-body">
      <h2>Clients</h2>
      <div class="col-md-4 metric">
        <active-clients-component>loading component...</active-clients-component>
      </div>
      <div class="col-md-4 metric">
        <mounts-component>loading component...</mounts-component>
      </div>
      <div class="col-md-4 metric">
        <diff-component>loading component...</diff-component>
      </div>
    </div>
  </div>

  <div id="alerts" class="panel panel-default">
    <div class="panel-body">
      <alerts-component></alerts-component>
    </div>
  </div>
</div>
