<div class="row">
  <div class="col-md-10">
    <h2>{{title}}</h2>
  </div>
  <div class="col-md-2">
    <a href="#"><span class=" glyphicon glyphicon-th"></span></a>
    <a href="#"><span class="	glyphicon glyphicon-time"></span></a>
    <a href="#"><span class="	glyphicon glyphicon-refresh"></span></a>
    <a href="#"><span class="	glyphicon glyphicon-cog"></span></a>
  </div>
</div>

<div class="row" *ngFor="let datum of data">
   <div class="col-md-3"><span class="glyphicon glyphicon-user"></span>    {{ datum.name }}</div>
   <div class="col-md-3">{{ datum.message }}</div>
   <div class="col-md-3">{{ datum.date }}</div>
   <div class="col-md-3">{{ datum.importance }}</div>
</div>
